In [3]:
# Based on the updated requirements, here's the complete Python code
# that loads the preprocessing and integrated data, transposes the necessary rows of the integrated data,
# and merges them based on '계약년월'.

import pandas as pd

# Load the preprocessing data
preprocessing_df = pd.read_csv('./Real_Estate_2020_2022_total.csv', encoding='cp949')

# Load the integrated data and select only rows 0-27
integrated_data_df = pd.read_excel('./External_data_total.xlsx')
# integrated_data_subset_df = integrated_data_df.iloc[0:28, :]

In [4]:
integrated_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 48 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   계약년월         38 non-null     object
 1   202001       38 non-null     object
 2   202002       38 non-null     object
 3   202003       38 non-null     object
 4   202004       38 non-null     object
 5   202005       38 non-null     object
 6   202006       38 non-null     object
 7   202007       38 non-null     object
 8   202008       38 non-null     object
 9   202009       38 non-null     object
 10  202010       38 non-null     object
 11  202011       38 non-null     object
 12  202012       38 non-null     object
 13  202101       38 non-null     object
 14  202102       38 non-null     object
 15  202103       38 non-null     object
 16  202104       38 non-null     object
 17  202105       38 non-null     object
 18  202106       38 non-null     object
 19  202107       38 non-null     object
 20  202108       38 non-null     object
 21  202109       38 non-null     object
 22  202110       38 non-null     object
 23  202111       38 non-null     object
 24  202112       38 non-null     object
 25  202201       38 non-null     object
 26  202202       38 non-null     object
 27  202203       38 non-null     object
 28  202204       38 non-null     object
 29  202205       38 non-null     object
 30  202206       38 non-null     object
 31  202207       38 non-null     object
 32  202208       38 non-null     object
 33  202209       38 non-null     object
 34  202210       38 non-null     object
 35  202211       37 non-null     object
 36  202212       37 non-null     object
 37  Unnamed: 37  6 non-null      float64
 38  Unnamed: 38  6 non-null      float64
 39  Unnamed: 39  6 non-null      float64
 40  Unnamed: 40  6 non-null      float64
 41  Unnamed: 41  6 non-null      float64
 42  Unnamed: 42  6 non-null      float64
 43  Unnamed: 43  6 non-null      float64
 44  Unnamed: 44  6 non-null      float64
 45  Unnamed: 45  6 non-null      float64
 46  Unnamed: 46  6 non-null      float64
 47  Unnamed: 47  6 non-null      float64
dtypes: float64(11), object(37)
memory usage: 14.4+ KB

In [5]:
# Transpose the selected rows of the integrated data
transposed_integrated_subset_df = integrated_data_df.set_index(integrated_data_df.columns[0]).T
transposed_integrated_subset_df.reset_index(inplace=True)
transposed_integrated_subset_df.rename(columns={'index': '계약년월'}, inplace=True)

# Ensure '계약년월' is a string in both DataFrames for a successful merge
transposed_integrated_subset_df['계약년월'] = transposed_integrated_subset_df['계약년월'].astype(str)
preprocessing_df['계약년월'] = preprocessing_df['계약년월'].astype(str)

# Merge the DataFrames on '계약년월'
merged_df_subset = preprocessing_df.merge(transposed_integrated_subset_df, on='계약년월', how='left')

# Save the merged DataFrame to a new CSV file
merged_csv_path = 'merged_dataset.csv'
merged_df_subset.to_csv(merged_csv_path, index=False, encoding='utf-8-sig')

In [6]:
merged_data = pd.read_csv("merged_dataset.csv")
merged_data.head()

C:\Users\vivid\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,NASDAQ_close,NASDAQ_change_rate,DOW Jones_close,DOW Jones_change_rate,KRX300_close,KRX300_change_rate,KOSPI_close,KOSPI_change_rate,KOSDAQ_close,KOSDAQ_change_rate
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202006,23,"149,500",4,...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,202002,24,"144,000",4,...,9418.850021,0.020089,28519.731600,-0.012474,1220.65,-5.51,1987.01,-6.23,610.73,-4.94
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,18,"162,750",4,...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,20,"160,000",5,...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202006,22,"150,000",2,...,9839.971325,0.080644,26062.270153,0.073802,1294.84,4.59,2108.33,3.88,737.97,3.40

In [7]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140288 entries, 0 to 140287
Data columns (total 54 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   시군구                                 140288 non-null  object
 1   번지                                  140248 non-null  object
 2   본번                                  140270 non-null  float64
 3   부번                                  140270 non-null  float64
 4   단지명                                 140288 non-null  object
 5   전용면적(㎡)                             140288 non-null  float64
 6   계약년월                                140288 non-null  int64
 7   계약일                                 140288 non-null  int64
 8   거래금액(만원)                            140288 non-null  object
 9   층                                   140288 non-null  int64
 10  건축년도                                140288 non-null  int64
 11  도로명                                 140288 non-null  object
 12  해제사유발생일                             5369 non-null    float64
 13  등기신청일자                              140288 non-null  object
 14  거래유형                                140288 non-null  object
 15  중개사소재지                              140288 non-null  object
 16  건설수주_건축(단위 백만원)                     140288 non-null  object
 17  건설수주_주택(단위 백만원)                     140288 non-null  object
 18  매매가격지수(아파트)                         140288 non-null  float64
 19  경상수지(백만불)                           140288 non-null  object
 20  무역수지(백만불)                           140288 non-null  object
 21  대출금액(아파트)(억원)                       140288 non-null  object
 22  대출잔액(아파트)(억원)                       140288 non-null  object
 23  서울_신규_분양세대(단위: 세대)                  140288 non-null  object
 24  아파트 동(호)수_(단위: 호)                   140288 non-null  int64
 25  아파트 건물면적_(천)                        138616 non-null  float64
 26  생산자물가지수 총지수                         140288 non-null  float64
 27  전규모(1인이상) 전체임금총액[원]                 140288 non-null  int64
 28  소비자물가지수 총지수                         140288 non-null  float64
 29  소비자물가지수 주택, 수도, 전기 및 연료             140288 non-null  float64
 30  가계대출 (연리%)                          140288 non-null  float64
 31  경기종합지수(2020=100)                    140288 non-null  float64
 32  경제활동인구_ 실업률(단위: %)                  140288 non-null  float64
 33  경제활동인구_고용률(단위: %)                   140288 non-null  float64
 34  경제활동인구_취업자(단위: 천명)                  140288 non-null  object
 35  국제 주요국 주가지수(KOSPI)                  140288 non-null  object
 36  예금은행 대출금리(신규취급액 기준)_대출평균(연%)        140288 non-null  float64
 37  예금은행 대출금리(잔액 기준)_총대출(연리%)           140288 non-null  float64
 38  주택매매가격지수(KB)_서울                     140288 non-null  float64
 39  소비자물가지수_총지수(가중치:1000?)              140288 non-null  float64
 40  원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원  140288 non-null  object
 41  경기종합지수                              140288 non-null  float64
 42  S&P 500_close                       140288 non-null  float64
 43  S&P 500_change_rate                 140288 non-null  float64
 44  NASDAQ_close                        140288 non-null  float64
 45  NASDAQ_change_rate                  140288 non-null  float64
 46  DOW Jones_close                     140288 non-null  float64
 47  DOW Jones_change_rate               140288 non-null  float64
 48  KRX300_close                        140288 non-null  float64
 49  KRX300_change_rate                  140288 non-null  float64
 50  KOSPI_close                         140288 non-null  float64
 51  KOSPI_change_rate                   140288 non-null  float64
 52  KOSDAQ_close                        140288 non-null  float64
 53  KOSDAQ_change_rate                  140288 non-null  float64
dtypes: float64(30), int64(6), object(18)
memory usage: 57.8+ MB

In [9]:
merged_data.to_csv("./Real_Estate_2020_2022_combine_total.csv", encoding="cp949")