In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
import seaborn as sns

In [6]:
data = pd.read_csv('./house_data_final.csv')

In [7]:
data.head()

,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,매칭 구,건설수주_건축(단위 백만원),...,경제활동인구_고용률(단위: %),경제활동인구_취업자(단위: 천명),국제 주요국 주가지수(KOSPI),예금은행 대출금리(신규취급액 기준)_대출평균(연%),예금은행 대출금리(잔액 기준)_총대출(연리%),주택매매가격지수(KB)_서울,소비자물가지수_총지수(가중치:1000?),"원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원",경기종합지수,평당가
0,개포래미안포레스트,74.66,202101,17,"245,000",7,2020,개포로,강남구,"10,589,107",...,57.4,"25,818","2,976.21",2.72,2.80,89.828,101.04,"1,099.03",103.8,3281.542995
1,개포래미안포레스트,59.92,202105,22,"198,500",18,2020,개포로,강남구,"11,699,841",...,61.2,"27,550","3,203.92",2.72,2.78,93.144,102.05,"1,123.39",106.3,3312.750334
2,개포래미안포레스트,49.92,202105,22,"180,000",7,2020,개포로,강남구,"11,699,841",...,61.2,"27,550","3,203.92",2.72,2.78,93.144,102.05,"1,123.39",106.3,3605.769231
3,개포래미안포레스트,59.92,202105,22,"198,500",18,2020,개포로,강남구,"11,699,841",...,61.2,"27,550","3,203.92",2.72,2.78,93.144,102.05,"1,123.39",106.3,3312.750334
4,개포래미안포레스트,49.92,202105,22,"180,000",7,2020,개포로,강남구,"11,699,841",...,61.2,"27,550","3,203.92",2.72,2.78,93.144,102.05,"1,123.39",106.3,3605.769231

In [8]:
data.describe()

,전용면적(㎡),계약년월,계약일,층,건축년도,매매가격지수(아파트),아파트 동(호)수_(단위: 호),아파트 건물면적_(천),생산자물가지수 총지수,전규모(1인이상) 전체임금총액[원],...,가계대출 (연리%),경기종합지수(2020=100),경제활동인구_ 실업률(단위: %),경제활동인구_고용률(단위: %),예금은행 대출금리(신규취급액 기준)_대출평균(연%),예금은행 대출금리(잔액 기준)_총대출(연리%),주택매매가격지수(KB)_서울,소비자물가지수_총지수(가중치:1000?),경기종합지수,평당가
count,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7.755000e+03,7862.000000,7.862000e+03,...,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000,7862.000000
mean,82.373907,202052.935767,15.723734,11.030654,2008.967057,97.261358,7182.876495,5.503735e+05,106.093231,3.592053e+06,...,2.957666,102.553078,3.842635,60.365569,2.906126,3.018086,88.100995,101.272633,102.553078,1652.650904
std,24.635076,64.138216,8.546988,6.994279,6.596234,3.196444,4093.656199,3.151481e+05,4.904886,2.833213e+05,...,0.539852,3.553198,0.705791,1.037201,0.464214,0.324008,6.541066,2.251918,3.553198,675.214748
min,32.760000,202001.000000,1.000000,1.000000,1977.000000,94.100000,761.000000,5.412150e+04,101.930000,3.287099e+06,...,2.550000,98.300000,2.100000,57.400000,2.630000,2.770000,80.516000,99.440000,98.300000,473.541692
25%,59.970000,202006.000000,9.000000,5.000000,2004.000000,94.300000,4328.000000,3.339767e+05,102.710000,3.351376e+06,...,2.670000,99.000000,3.400000,60.000000,2.710000,2.800000,81.755000,99.710000,99.000000,1176.927513
50%,84.830000,202010.000000,16.000000,10.000000,2010.000000,96.200000,5435.000000,4.052214e+05,103.740000,3.521416e+06,...,2.810000,101.800000,4.000000,60.400000,2.740000,2.920000,86.178000,100.190000,101.800000,1507.846143
75%,84.980000,202105.000000,23.000000,15.000000,2014.000000,99.000000,10491.000000,8.119144e+05,108.650000,3.815583e+06,...,2.920000,106.300000,4.300000,60.700000,2.910000,3.050000,93.144000,102.050000,106.300000,1935.598594
max,222.760000,202212.000000,31.000000,46.000000,2021.000000,104.400000,16002.000000,1.229084e+06,120.680000,4.721940e+06,...,5.640000,109.700000,5.700000,63.000000,5.640000,4.920000,100.790000,109.280000,109.700000,5009.183503

# 데이터 타입 변환

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7862 entries, 0 to 7861
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   단지명                                 7862 non-null   object
 1   전용면적(㎡)                             7862 non-null   float64
 2   계약년월                                7862 non-null   int64
 3   계약일                                 7862 non-null   int64
 4   거래금액(만원)                            7862 non-null   object
 5   층                                   7862 non-null   int64
 6   건축년도                                7862 non-null   int64
 7   도로명                                 7862 non-null   object
 8   매칭 구                                7862 non-null   object
 9   건설수주_건축(단위 백만원)                     7862 non-null   object
 10  건설수주_주택(단위 백만원)                     7862 non-null   object
 11  매매가격지수(아파트)                         7862 non-null   float64
 12  경상수지(백만불)                           7862 non-null   object
 13  무역수지(백만불)                           7862 non-null   object
 14  대출금액(아파트)(억원)                       7862 non-null   object
 15  대출잔액(아파트)(억원)                       7862 non-null   object
 16  서울_신규_분양세대(단위: 세대)                  7862 non-null   object
 17  아파트 동(호)수_(단위: 호)                   7862 non-null   int64
 18  아파트 건물면적_(천)                        7755 non-null   float64
 19  생산자물가지수 총지수                         7862 non-null   float64
 20  전규모(1인이상) 전체임금총액[원]                 7862 non-null   int64
 21  소비자물가지수 총지수                         7862 non-null   float64
 22  소비자물가지수 주택, 수도, 전기 및 연료             7862 non-null   float64
 23  가계대출 (연리%)                          7862 non-null   float64
 24  경기종합지수(2020=100)                    7862 non-null   float64
 25  경제활동인구_ 실업률(단위: %)                  7862 non-null   float64
 26  경제활동인구_고용률(단위: %)                   7862 non-null   float64
 27  경제활동인구_취업자(단위: 천명)                  7862 non-null   object
 28  국제 주요국 주가지수(KOSPI)                  7862 non-null   object
 29  예금은행 대출금리(신규취급액 기준)_대출평균(연%)        7862 non-null   float64
 30  예금은행 대출금리(잔액 기준)_총대출(연리%)           7862 non-null   float64
 31  주택매매가격지수(KB)_서울                     7862 non-null   float64
 32  소비자물가지수_총지수(가중치:1000?)              7862 non-null   float64
 33  원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원  7862 non-null   object
 34  경기종합지수                              7862 non-null   float64
 35  평당가                                 7862 non-null   float64
dtypes: float64(16), int64(6), object(14)
memory usage: 2.2+ MB

In [10]:
# object -> category 형으로 데이터타입 변환
"""
data_category = {'단지명': ['개포래미안포레스트', '래미안블레스티지', '래미안대치팰리스', '래미안도곡카운티', '삼성래미안',
       '래미안라클래시', '개나리래미안', '래미안그레이튼', '래미안그레이튼(진달래2차)', '래미안펜타빌',
       '역삼래미안', '래미안 개포 루체하임', '래미안강남힐즈', '래미안힐스테이트고덕', '래미안솔베뉴',
       '래미안강동팰리스', '래미안트리베라1단지', '미아1차래미안', '삼성래미안트리베라2단지', '래미안수유',
       '래미안파크스위트', '래미안도봉', '방학동삼성래미안1', '방학동삼성래미안2', '쌍문동삼성래미안',
       '래미안미드카운티', '래미안엘파인아파트', '래미안위브', '래미안 허브리츠', '래미안이문2차',
       '이문삼성래미안아파트', '래미안장안', '래미안장안2차', '래미안아름숲', '래미안크레시티', '전농동삼성래미안',
       '래미안트윈파크', '래미안로이파크', '래미안상도3차', '삼성래미안2', '상도동래미안1차', '공덕1삼성래미안',
       '공덕2삼성래미안', '공덕3삼성래미안', '래미안공덕4차', '래미안공덕5차', '래미안밤섬리베뉴Ⅰ',
       '래미안밤섬리베뉴Ⅱ', '신공덕1차삼성래미안1아파트', '신공덕래미안2차', '신공덕래미안3차',
       '마포래미안푸르지오1단지', '마포래미안푸르지오2단지', '마포래미안푸르지오3단지', '마포래미안푸르지오4단지',
       '염리삼성래미안', '래미안마포리버웰', '마포용강삼성래미안', '창전래미안', '래미안웰스트림',
       'DMC래미안클라시스', '래미안남가좌2차', '래미안루센티아', 'DMC래미안e편한세상', '홍제삼성래미안',
       '래미안퍼스티지', '반포래미안아이파크', '래미안방배아트힐(1008-2)', '방배래미안타워', '삼성래미안1',
       '래미안 리더스원', '래미안서초스위트', '래미안서초에스티지', '래미안서초에스티지S', '래미안서초유니빌',
       '서초래미안', '서초삼성래미안', '래미안신반포리오센트', '래미안신반포팰리스', '금호삼성래미안',
       '래미안하이리버', '래미안 옥수 리버젠', '길음뉴타운1단지(래미안길음1차)', '길음뉴타운5단지(래미안)',
       '길음뉴타운6단지(래미안)', '길음뉴타운8단지(래미안)', '길음뉴타운9단지(래미안)', '래미안길음센터피스',
       '래미안아트리치', '석관래미안', '안암동삼성래미안', '래미안장위퍼스트하이', '래미안포레카운티', '래미안라센트',
       '래미안세레니티', '래미안월곡', '월곡래미안루나밸리', '래미안파크팰리스', '문정래미안', '래미안송파파인탑',
       '송파삼성래미안아파트', '래미안목동아델리체(1326)', '목동2삼성래미안', '강변래미안', '래미안당산1차',
       '당산삼성래미안4차', '래미안에스티움', '래미안영등포프레비뉴', '래미안첼리투스', '래미안베라힐즈',
       '북한산래미안아파트(1단지)', '북한산래미안아파트(2단지)', '구파발9단지래미안(916~928동)BL3-2',
       '래미안하이베르'],
               '도로명': ['개포로', '선릉로', '삼성로', '도곡로', '남부순환로', '영동대로', '압구정로', '역삼로', '자곡로',
       '밤고개로', '아리수로', '양재대로', '천호대로', '삼양로', '한천로', '광나루로', '아차산로',
       '디지털로', '도봉로', '마들로', '우이천로', '노해로', '답십리로', '정릉천동로', '이문로',
       '천장산로', '장한로', '장안벚꽃로', '전농로', '사가정로', '노량진로', '매봉로', '사당로', '상도로',
       '등용로', '마포대로', '독막로', '백범로', '만리재로', '토정로', '큰우물로', '서강로', '증가로',
       '수색로', '거북골로', '통일로', '반포대로', '서초중앙로', '동광로', '방배선행길', '서운로',
       '서초대로', '사임당로', '잠원로', '독서당로', '금호로', '매봉길', '길음로', '숭인로', '돌곶이로',
       '화랑로', '고려대로', '월계로', '장월로', '종암로', '오패산로', '월곡로', '동남로', '문정로',
       '오금로', '중앙로', '목동남로', '버드나루로', '당산로', '신풍로', '가마산로', '신길로', '도신로',
       '영등포로', '새창로', '이촌로', '한강대로', '진흥로', '진관', '퇴계로', '명달로'],
                '매칭 구': ['강남구', '강동구', '강북구', '광진구', '구로구', '노원구', '동대문구', '동작구', '마포구',
       '서대문구', '서초구', '성동구', '성북구', '송파구', '영등포구', '용산구', '은평구', '중구']}

apt_name = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['단지명'])
data['단지명'] = data['단지명'].astype(ordered_apt_name)
road_name = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['도로명'])
data['도로명'] = data['도로명'].astype(ordered_apt_name)
matching_gu = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['매칭 구'])
data['매칭 구'] = data['매칭 구'].astype(ordered_apt_name)
"""

"\ndata_category = {'단지명': ['개포래미안포레스트', '래미안블레스티지', '래미안대치팰리스', '래미안도곡카운티', '삼성래미안',\n       '래미안라클래시', '개나리래미안', '래미안그레이튼', '래미안그레이튼(진달래2차)', '래미안펜타빌',\n       '역삼래미안', '래미안 개포 루체하임', '래미안강남힐즈', '래미안힐스테이트고덕', '래미안솔베뉴',\n       '래미안강동팰리스', '래미안트리베라1단지', '미아1차래미안', '삼성래미안트리베라2단지', '래미안수유',\n       '래미안파크스위트', '래미안도봉', '방학동삼성래미안1', '방학동삼성래미안2', '쌍문동삼성래미안',\n       '래미안미드카운티', '래미안엘파인아파트', '래미안위브', '래미안 허브리츠', '래미안이문2차',\n       '이문삼성래미안아파트', '래미안장안', '래미안장안2차', '래미안아름숲', '래미안크레시티', '전농동삼성래미안',\n       '래미안트윈파크', '래미안로이파크', '래미안상도3차', '삼성래미안2', '상도동래미안1차', '공덕1삼성래미안',\n       '공덕2삼성래미안', '공덕3삼성래미안', '래미안공덕4차', '래미안공덕5차', '래미안밤섬리베뉴Ⅰ',\n       '래미안밤섬리베뉴Ⅱ', '신공덕1차삼성래미안1아파트', '신공덕래미안2차', '신공덕래미안3차',\n       '마포래미안푸르지오1단지', '마포래미안푸르지오2단지', '마포래미안푸르지오3단지', '마포래미안푸르지오4단지',\n       '염리삼성래미안', '래미안마포리버웰', '마포용강삼성래미안', '창전래미안', '래미안웰스트림',\n       'DMC래미안클라시스', '래미안남가좌2차', '래미안루센티아', 'DMC래미안e편한세상', '홍제삼성래미안',\n       '래미안퍼스티지', '반포래미안아이파크', '래미안방배아트힐(1008-2)', '방배래미안타워', '삼성래미안1',\n       '래미안 리더스원', '래미안서초스위트', '래미안서초에스티지', '래미안서초에스티지S', '래미안서초유니빌',\n       '서초래미안', '서초삼성래미안', '래미안신반포리오센트', '래미안신반포팰리스', '금호삼성래미안',\n       '래미안하이리버', '래미안 옥수 리버젠', '길음뉴타운1단지(래미안길음1차)', '길음뉴타운5단지(래미안)',\n       '길음뉴타운6단지(래미안)', '길음뉴타운8단지(래미안)', '길음뉴타운9단지(래미안)', '래미안길음센터피스',\n       '래미안아트리치', '석관래미안', '안암동삼성래미안', '래미안장위퍼스트하이', '래미안포레카운티', '래미안라센트',\n       '래미안세레니티', '래미안월곡', '월곡래미안루나밸리', '래미안파크팰리스', '문정래미안', '래미안송파파인탑',\n       '송파삼성래미안아파트', '래미안목동아델리체(1326)', '목동2삼성래미안', '강변래미안', '래미안당산1차',\n       '당산삼성래미안4차', '래미안에스티움', '래미안영등포프레비뉴', '래미안첼리투스', '래미안베라힐즈',\n       '북한산래미안아파트(1단지)', '북한산래미안아파트(2단지)', '구파발9단지래미안(916~928동)BL3-2',\n       '래미안하이베르'],\n               '도로명': ['개포로', '선릉로', '삼성로', '도곡로', '남부순환로', '영동대로', '압구정로', '역삼로', '자곡로',\n       '밤고개로', '아리수로', '양재대로', '천호대로', '삼양로', '한천로', '광나루로', '아차산로',\n       '디지털로', '도봉로', '마들로', '우이천로', '노해로', '답십리로', '정릉천동로', '이문로',\n       '천장산로', '장한로', '장안벚꽃로', '전농로', '사가정로', '노량진로', '매봉로', '사당로', '상도로',\n       '등용로', '마포대로', '독막로', '백범로', '만리재로', '토정로', '큰우물로', '서강로', '증가로',\n       '수색로', '거북골로', '통일로', '반포대로', '서초중앙로', '동광로', '방배선행길', '서운로',\n       '서초대로', '사임당로', '잠원로', '독서당로', '금호로', '매봉길', '길음로', '숭인로', '돌곶이로',\n       '화랑로', '고려대로', '월계로', '장월로', '종암로', '오패산로', '월곡로', '동남로', '문정로',\n       '오금로', '중앙로', '목동남로', '버드나루로', '당산로', '신풍로', '가마산로', '신길로', '도신로',\n       '영등포로', '새창로', '이촌로', '한강대로', '진흥로', '진관', '퇴계로', '명달로'],\n                '매칭 구': ['강남구', '강동구', '강북구', '광진구', '구로구', '노원구', '동대문구', '동작구', '마포구',\n       '서대문구', '서초구', '성동구', '성북구', '송파구', '영등포구', '용산구', '은평구', '중구']}\n\napt_name = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['단지명'])\ndata['단지명'] = data['단지명'].astype(ordered_apt_name)\nroad_name = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['도로명'])\ndata['도로명'] = data['도로명'].astype(ordered_apt_name)\nmatching_gu = pd.api.types.CategoricalDtype(ordered = False, categories = data_category['매칭 구'])\ndata['매칭 구'] = data['매칭 구'].astype(ordered_apt_name)\n"

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7862 entries, 0 to 7861
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   단지명                                 7862 non-null   object
 1   전용면적(㎡)                             7862 non-null   float64
 2   계약년월                                7862 non-null   int64
 3   계약일                                 7862 non-null   int64
 4   거래금액(만원)                            7862 non-null   object
 5   층                                   7862 non-null   int64
 6   건축년도                                7862 non-null   int64
 7   도로명                                 7862 non-null   object
 8   매칭 구                                7862 non-null   object
 9   건설수주_건축(단위 백만원)                     7862 non-null   object
 10  건설수주_주택(단위 백만원)                     7862 non-null   object
 11  매매가격지수(아파트)                         7862 non-null   float64
 12  경상수지(백만불)                           7862 non-null   object
 13  무역수지(백만불)                           7862 non-null   object
 14  대출금액(아파트)(억원)                       7862 non-null   object
 15  대출잔액(아파트)(억원)                       7862 non-null   object
 16  서울_신규_분양세대(단위: 세대)                  7862 non-null   object
 17  아파트 동(호)수_(단위: 호)                   7862 non-null   int64
 18  아파트 건물면적_(천)                        7755 non-null   float64
 19  생산자물가지수 총지수                         7862 non-null   float64
 20  전규모(1인이상) 전체임금총액[원]                 7862 non-null   int64
 21  소비자물가지수 총지수                         7862 non-null   float64
 22  소비자물가지수 주택, 수도, 전기 및 연료             7862 non-null   float64
 23  가계대출 (연리%)                          7862 non-null   float64
 24  경기종합지수(2020=100)                    7862 non-null   float64
 25  경제활동인구_ 실업률(단위: %)                  7862 non-null   float64
 26  경제활동인구_고용률(단위: %)                   7862 non-null   float64
 27  경제활동인구_취업자(단위: 천명)                  7862 non-null   object
 28  국제 주요국 주가지수(KOSPI)                  7862 non-null   object
 29  예금은행 대출금리(신규취급액 기준)_대출평균(연%)        7862 non-null   float64
 30  예금은행 대출금리(잔액 기준)_총대출(연리%)           7862 non-null   float64
 31  주택매매가격지수(KB)_서울                     7862 non-null   float64
 32  소비자물가지수_총지수(가중치:1000?)              7862 non-null   float64
 33  원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원  7862 non-null   object
 34  경기종합지수                              7862 non-null   float64
 35  평당가                                 7862 non-null   float64
dtypes: float64(16), int64(6), object(14)
memory usage: 2.2+ MB

In [12]:
# object -> float 형으로 데이터타입 변환
transaction_fee = data['거래금액(만원)']
CO_architecture = data['건설수주_건축(단위 백만원)']
CO_dwellinghouse = data['건설수주_주택(단위 백만원)']
current_balance = data['경상수지(백만불)']
trade_balance = data['무역수지(백만불)']
loan_amount = data['대출금액(아파트)(억원)']
loan_balance = data['대출잔액(아파트)(억원)']
Newly_Offered_Housing_Units_in_Seoul = data['서울_신규_분양세대(단위: 세대)']
employed_person = data['경제활동인구_취업자(단위: 천명)']
KOSPI = data['국제 주요국 주가지수(KOSPI)']
KRW_to_USD = data['원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원']

transaction_fee_comma_removed = transaction_fee.apply(lambda x: x.replace(',', ''))
data['거래금액(만원)'] = transaction_fee_comma_removed.astype(float)
CO_architecture_comma_removed = CO_architecture.apply(lambda x: x.replace(',', ''))
data['건설수주_건축(단위 백만원)'] = CO_architecture_comma_removed.astype(float)
CO_dwellinghouse_comma_removed = CO_dwellinghouse.apply(lambda x: x.replace(',', ''))
data['건설수주_주택(단위 백만원)'] = CO_dwellinghouse_comma_removed.astype(float)
current_balance_comma_removed = current_balance.apply(lambda x: x.replace(',', ''))
data['경상수지(백만불)'] = current_balance_comma_removed.astype(float)
trade_balance_comma_removed = trade_balance.apply(lambda x: x.replace(',', ''))
data['무역수지(백만불)'] = trade_balance_comma_removed.astype(float)
loan_amount_comma_removed = loan_amount.apply(lambda x: x.replace(',', ''))
data['대출금액(아파트)(억원)'] = loan_amount_comma_removed.astype(float)
loan_balance_comma_removed = loan_balance.apply(lambda x: x.replace(',', ''))
data['대출잔액(아파트)(억원)'] = loan_balance_comma_removed.astype(float)
Newly_Offered_Housing_Units_in_Seoul_comma_removed = Newly_Offered_Housing_Units_in_Seoul.apply(lambda x: x.replace(',', ''))
data['서울_신규_분양세대(단위: 세대)'] = Newly_Offered_Housing_Units_in_Seoul_comma_removed.astype(float)
employed_person_comma_removed = employed_person.apply(lambda x: x.replace(',', ''))
data['경제활동인구_취업자(단위: 천명)'] = employed_person_comma_removed.astype(float)
KOSPI_comma_removed = KOSPI.apply(lambda x: x.replace(',', ''))
data['국제 주요국 주가지수(KOSPI)'] = KOSPI_comma_removed.astype(float)
KRW_to_USD_comma_removed = KRW_to_USD.apply(lambda x: x.replace(',', ''))
data['원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원'] = KRW_to_USD_comma_removed.astype(float)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7862 entries, 0 to 7861
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   단지명                                 7862 non-null   object
 1   전용면적(㎡)                             7862 non-null   float64
 2   계약년월                                7862 non-null   int64
 3   계약일                                 7862 non-null   int64
 4   거래금액(만원)                            7862 non-null   float64
 5   층                                   7862 non-null   int64
 6   건축년도                                7862 non-null   int64
 7   도로명                                 7862 non-null   object
 8   매칭 구                                7862 non-null   object
 9   건설수주_건축(단위 백만원)                     7862 non-null   float64
 10  건설수주_주택(단위 백만원)                     7862 non-null   float64
 11  매매가격지수(아파트)                         7862 non-null   float64
 12  경상수지(백만불)                           7862 non-null   float64
 13  무역수지(백만불)                           7862 non-null   float64
 14  대출금액(아파트)(억원)                       7862 non-null   float64
 15  대출잔액(아파트)(억원)                       7862 non-null   float64
 16  서울_신규_분양세대(단위: 세대)                  7862 non-null   float64
 17  아파트 동(호)수_(단위: 호)                   7862 non-null   int64
 18  아파트 건물면적_(천)                        7755 non-null   float64
 19  생산자물가지수 총지수                         7862 non-null   float64
 20  전규모(1인이상) 전체임금총액[원]                 7862 non-null   int64
 21  소비자물가지수 총지수                         7862 non-null   float64
 22  소비자물가지수 주택, 수도, 전기 및 연료             7862 non-null   float64
 23  가계대출 (연리%)                          7862 non-null   float64
 24  경기종합지수(2020=100)                    7862 non-null   float64
 25  경제활동인구_ 실업률(단위: %)                  7862 non-null   float64
 26  경제활동인구_고용률(단위: %)                   7862 non-null   float64
 27  경제활동인구_취업자(단위: 천명)                  7862 non-null   float64
 28  국제 주요국 주가지수(KOSPI)                  7862 non-null   float64
 29  예금은행 대출금리(신규취급액 기준)_대출평균(연%)        7862 non-null   float64
 30  예금은행 대출금리(잔액 기준)_총대출(연리%)           7862 non-null   float64
 31  주택매매가격지수(KB)_서울                     7862 non-null   float64
 32  소비자물가지수_총지수(가중치:1000?)              7862 non-null   float64
 33  원화의 대미달러, 원화의 대위안/대엔 환율(원/달러(종가)_원  7862 non-null   float64
 34  경기종합지수                              7862 non-null   float64
 35  평당가                                 7862 non-null   float64
dtypes: float64(27), int64(6), object(3)
memory usage: 2.2+ MB

# 정규화

In [14]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer

ohe = OneHotEncoder(sparse=False)

data_apt_name = ohe.fit_transform(data[['단지명']])
#data_road_name = ohe.fit_transform(data[['도로명']])
#data_matching_gu = ohe.fit_transform(data[['매칭 구']])

In [15]:
data_apt_name

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
ohe.categories_

[array(['DMC래미안e편한세상', 'DMC래미안클라시스', '강변래미안', '개나리래미안', '개포래미안포레스트',
        '공덕1삼성래미안', '공덕2삼성래미안', '공덕3삼성래미안', '구파발9단지래미안(916~928동)BL3-2',
        '금호삼성래미안', '길음뉴타운1단지(래미안길음1차)', '길음뉴타운5단지(래미안)', '길음뉴타운6단지(래미안)',
        '길음뉴타운8단지(래미안)', '길음뉴타운9단지(래미안)', '당산삼성래미안4차', '래미안 개포 루체하임',
        '래미안 리더스원', '래미안 옥수 리버젠', '래미안 허브리츠', '래미안강남힐즈', '래미안강동팰리스',
        '래미안공덕4차', '래미안공덕5차', '래미안그레이튼', '래미안그레이튼(진달래2차)', '래미안길음센터피스',
        '래미안남가좌2차', '래미안당산1차', '래미안대치팰리스', '래미안대치하이스턴', '래미안도곡카운티',
        '래미안도봉', '래미안라센트', '래미안라클래시', '래미안로이파크', '래미안루센티아', '래미안마포리버웰',
        '래미안목동아델리체(1326)', '래미안미드카운티', '래미안밤섬리베뉴Ⅰ', '래미안밤섬리베뉴Ⅱ',
        '래미안방배아트힐(1008-2)', '래미안방배에버뉴', '래미안베라힐즈', '래미안블레스티지',
        '래미안삼성1차(103-22)', '래미안삼성1차(105-0)', '래미안삼성1차(201동)', '래미안삼성2차',
        '래미안상도3차', '래미안서초3차', '래미안서초4차', '래미안서초5차', '래미안서초7차', '래미안서초스위트',
        '래미안서초에스티지', '래미안서초에스티지S', '래미안서초유니빌', '래미안세레니티', '래미안솔베뉴',
        '래미안송파파인탑', '래미안수유', '래미안신반포리오센트', '래미안신반포팰리스', '래미안신사', '래미안아름숲',
        '래미안아트리치', '래미안에스티움', '래미안엘파인아파트', '래미안영등포프레비뉴', '래미안용산더센트럴',
        '래미안월곡', '래미안웰스트림', '래미안위브', '래미안이문2차', '래미안장안', '래미안장안2차',
        '래미안장위퍼스트하이', '래미안청담로이뷰', '래미안첼리투스', '래미안크레시티', '래미안트리베라1단지',
        '래미안트윈파크', '래미안파크스위트', '래미안파크팰리스', '래미안퍼스티지', '래미안펜타빌', '래미안포레',
        '래미안포레카운티', '래미안프리미어팰리스', '래미안하이리버', '래미안하이베르', '래미안힐스테이트고덕',
        '마포래미안푸르지오1단지', '마포래미안푸르지오2단지', '마포래미안푸르지오3단지', '마포래미안푸르지오4단지',
        '마포용강삼성래미안', '목동2삼성래미안', '문정래미안', '미아1차래미안', '반포래미안아이파크',
        '방배래미안타워', '방학동삼성래미안1', '방학동삼성래미안2', '북한산래미안아파트(1단지)',
        '북한산래미안아파트(2단지)', '삼성래미안', '삼성래미안1', '삼성래미안2', '삼성래미안트리베라2단지',
        '상도동래미안1차', '서초래미안', '서초삼성래미안', '석관래미안', '송파삼성래미안아파트',
        '신공덕1차삼성래미안1아파트', '신공덕래미안2차', '신공덕래미안3차', '쌍문동삼성래미안', '안암동삼성래미안',
        '역삼래미안', '염리삼성래미안', '월곡래미안루나밸리', '이문삼성래미안아파트', '전농동삼성래미안', '창전래미안',
        '홍제삼성래미안'], dtype=object)]

In [17]:
df_apt_name = pd.DataFrame(data_apt_name, columns=['단지명_' + col for col in ohe.categories_[0]])

In [18]:
data = pd.concat([data.drop(columns=['단지명']), df_apt_name], axis=1)

In [19]:
data_road_name = ohe.fit_transform(data[['도로명']])

In [20]:
data_road_name

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [21]:
ohe.categories_

[array(['가마산로', '개포로', '거북골로', '고려대로', '광나루로', '금호로', '길음로', '남부순환로',
        '노량진로', '노해로', '답십리로', '당산로', '도곡로', '도봉로', '도신로', '독막로', '독서당로',
        '돌곶이로', '동광로', '동남로', '등용로', '디지털로', '마들로', '마포대로', '만리재로', '매봉길',
        '매봉로', '명달로', '목동남로', '문정로', '반포대로', '밤고개로', '방배선행길', '백범로',
        '버드나루로', '사가정로', '사당로', '사임당로', '삼성로', '삼양로', '상도로', '새창로', '서강로',
        '서운로', '서초대로', '서초중앙로', '선릉로', '수색로', '숭인로', '신길로', '신풍로', '아리수로',
        '아차산로', '압구정로', '양재대로', '역삼로', '영동대로', '영등포로', '오금로', '오패산로',
        '우이천로', '월계로', '월곡로', '이문로', '이촌로', '자곡로', '잠원로', '장안벚꽃로', '장월로',
        '장한로', '전농로', '정릉천동로', '종암로', '중앙로', '증가로', '진관', '진흥로', '천장산로',
        '천호대로', '큰우물로', '토정로', '통일로', '퇴계로', '한강대로', '한천로', '화랑로'],
       dtype=object)]

In [22]:
df_road_name = pd.DataFrame(data_road_name, columns=['도로명_' + col for col in ohe.categories_[0]])

In [23]:
data = pd.concat([data.drop(columns=['도로명']), df_road_name], axis=1)

In [24]:
data_matching_gu = ohe.fit_transform(data[['매칭 구']])

In [25]:
ohe.categories_

[array(['강남구', '강동구', '강북구', '광진구', '구로구', '노원구', '동대문구', '동작구', '마포구',
        '서대문구', '서초구', '성동구', '성북구', '송파구', '영등포구', '용산구', '은평구', '중구'],
       dtype=object)]

In [26]:
df_matching_gu = pd.DataFrame(data_matching_gu, columns=['매칭 구_' + col for col in ohe.categories_[0]])

In [27]:
data = pd.concat([data.drop(columns=['매칭 구']), df_matching_gu], axis=1)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7862 entries, 0 to 7861
Columns: 266 entries, 전용면적(㎡) to 매칭 구_중구
dtypes: float64(260), int64(6)
memory usage: 16.0 MB

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data_std = scaler.fit_transform(data)

In [30]:
data_std

array([[-0.31314692,  0.74943291,  0.14933293, ..., -0.07151071,
        -0.06969111, -0.09271059],
       [-0.91151883,  0.81180219,  0.73437154, ..., -0.07151071,
        -0.06969111, -0.09271059],
       [-1.31746993,  0.81180219,  0.73437154, ..., -0.07151071,
        -0.06969111, -0.09271059],
       ...,
       [-0.91882595, -0.63828358, -1.25475973, ..., -0.07151071,
        -0.06969111, 10.78625438],
       [ 0.10579462, -0.63828358, -0.66972112, ..., -0.07151071,
        -0.06969111, 10.78625438],
       [ 0.10538866, -0.63828358,  0.03232521, ..., -0.07151071,
        -0.06969111, 10.78625438]])