
# Section 01. 조건문

## 1 if 문의 원리

In [95]:
a=4
if a %2==0:
  print("짝수")
else:
  print("홀수")

짝수

In [96]:
a=4
parity="짝수" if a %2==0 else "홀수"
parity

'짝수'

## 2. if 문의 사용

In [97]:
price=800
if price==900:
  print('적정 가격')
elif price>900:
  print('비싼 가격')
else:
  print('낮은 가격')

낮은 가격

In [98]:
current_price=900
predict_price=1000
fee=0.01

profit_change=(predict_price-current_price)/current_price

if profit_change>fee:
  print("profit_change는 %.2f , fee는 %f"%(profit_change, fee))
  print("buy stock : 순수익률은 %.2f"%(profit_change-fee))
elif profit_change<-fee:
  print("sell stock : 수익률은 %.2f, 수수료는 %f"%(profit_change, fee))
else:
  print(profit_change,"hold stock")

profit_change는 0.11 , fee는 0.010000
buy stock : 순수익률은 0.10

In [99]:
current_price=900
predict_price=1000
fee=0.01

profit_change=(predict_price-current_price)/current_price

if -fee<profit_change or profit_change<fee:
  print("profit_change %.2f, fee %.2f 매수 혹은 매도 상황"%(profit_change, fee))
else:
  print("%f, 보유"%(profit_change-fee))

profit_change 0.11, fee 0.01 매수 혹은 매도 상황

In [100]:
fee=0.01
profit_change=-0.02

if -fee<profit_change and profit_change<fee:
  print("profit_change %f, fee %f 보유"%(profit_change, fee))
else:
  print("매수 혹은 매도 상황")

매수 혹은 매도 상황

In [101]:
profit_change=0.2
if -fee<profit_change and profit_change<fee:
  print("profit_change %f, fee%f 보유"%(profit_change,fee))
elif profit_change>fee:
  print("buy stock: 수익률은 %.2f"%(profit_change-fee))
else:
  print("sell stock: 수익률은 %.2f, 수수료는 %.2f"%(profit_change,fee))

buy stock: 수익률은 0.19

In [102]:
price=4200
if price<1000:
  print("5등급 제품")
if price>=1000 and price<2000:
  print("4등급 제품")
elif price>=2000 and price<3000:
  print("3등급 제품")
elif price>=3000 and price<4000:
  print("2등급 제품")
else:
  print("1등급 제품")

1등급 제품

# Section 02. 반복문
## 1. for 문의 원리

In [103]:
for x in range(0, 10, 4):
  print(x,"는(은) 4의 배수로 10보다 작다.")

0 는(은) 4의 배수로 10보다 작다.
4 는(은) 4의 배수로 10보다 작다.
8 는(은) 4의 배수로 10보다 작다.

## 2. For문의 사용

In [104]:
for i in range(2, 10):
  for j in range(1, 10):
    print("%d*%d=%d"%(i, j, i*j))

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [105]:
for i in range(10):
  if i==3:
    break
  print(i)

0
1
2

### continue 문을 통해 for 문의 처음으로 돌아가게 할 수 있다. 앞서 break 문으로 i가 3이 되면 반복문 밖으로 빠져나오게 했다.

In [106]:
for x in range(10):
  if x==3:
    continue
  if x==7:
    break
  print(x)

0
1
2
4
5
6

In [107]:
cars=['sonata', 'tesla', 'avante', 'lexus']
for i in cars:
  if i=='tesla':
    print(i.upper( ))
  else:
    print(i.title( ))

Sonata
TESLA
Avante
Lexus

In [108]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for i in my_stocks:
  print(i)

ss
lg
sk
naver

## 3. for 문의 활용: 음식 주문 프로세스 구현

In [109]:
menus=['된장찌개', '삼겹살', '설렁탕', '냉면', '칼국수', '김치찌개']
requests=['된장찌개', '김치찌개', '해물찜']

for item in requests:
  if item in menus:
    print(f"{item} 주문합니다.")
  else:
    print(f"\n죄송합니다. 저희는 {item}이 없습니다.")

된장찌개 주문합니다.
김치찌개 주문합니다.

죄송합니다. 저희는 해물찜이 없습니다.

In [110]:
ready=[]
ready.append('된장찌개')

In [111]:
menus=['된장찌개', '삼겹살', '설렁탕', '냉면', '칼국수', '김치찌개']
requests=['된장찌개', '김치찌개', '해물찜']
ready=[]

for item in requests:
  if item in menus:
    print(f"{item} 주문합니다.")
    ready.append(item)
    print(f"{ready} 준비해주세요.")
  else:
    print(f"\n죄송합니다. 저희는 {item}이 없습니다.")
print(f"\n이제 {ready} 음식을 준비하겠습니다.")

된장찌개 주문합니다.
['된장찌개'] 준비해주세요.
김치찌개 주문합니다.
['된장찌개', '김치찌개'] 준비해주세요.

죄송합니다. 저희는 해물찜이 없습니다.

이제 ['된장찌개', '김치찌개'] 음식을 준비하겠습니다.

## 5. while 문의 사용

In [112]:
i=0
while i<5:
  print (i)
  i+=1 # i=i+1과 같은 의미

0
1
2
3
4

In [113]:
i=0
total=0
while i<5:
  i=i+1
  total+=i
  print(i, total) # 반복문 안이므로 i와 total 변수의 결과를 반복 출력
print(i, total) # 반복문 밖이므로 i와 total 변수의 최종 결과만 출력

1 1
2 3
3 6
4 10
5 15
5 15

In [114]:
i=0
total=0
while i<100:
  print(i)
  i+=10
  total+=i
print(i, total)

0
10
20
30
40
50
60
70
80
90
100 550

In [115]:
i=0
total=0
for i in range(0, 101, 10):
  print(i)
  total+=i
print(i, total)

0
10
20
30
40
50
60
70
80
90
100
100 550

In [116]:
i=0
weather=['rain', 'snow', 'good']
while i<10:
  print(i)
  if weather[i%3]=='rain':
    print('비가 오니 등산 안 한다.')
  elif weather[i%3]=='snow':
    print('눈이 오니 등산 안 한다.')
  else:
    print("%s 날씨이니 등산한다."%weather[i%3])
    print(f"{weather[i%3]} 날씨이니 등산한다.")
  i=i+1

0
비가 오니 등산 안 한다.
1
눈이 오니 등산 안 한다.
2
good 날씨이니 등산한다.
good 날씨이니 등산한다.
3
비가 오니 등산 안 한다.
4
눈이 오니 등산 안 한다.
5
good 날씨이니 등산한다.
good 날씨이니 등산한다.
6
비가 오니 등산 안 한다.
7
눈이 오니 등산 안 한다.
8
good 날씨이니 등산한다.
good 날씨이니 등산한다.
9
비가 오니 등산 안 한다.

# Section 03. 컴프리헨션
### - 특정 규칙을 이용해 데이터형 자료를 좀 더 쉽고 간결하게 담는 방법이다.

In [117]:
# 일반 리스트 생성
even_numbers=[0, 2, 4, 6, 8]
even_numbers

[0, 2, 4, 6, 8]

In [118]:
# 컴프리헨션을 이용한 리스트 생성
squares=[x * x for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [119]:
# 짝수의 제곱을 원소로 가지는 리스트 컴프리헨션
even_squares=[x * x for x in even_numbers]
even_squares

[0, 4, 16, 36, 64]

In [120]:
# 주어진 크기의 원소를 가지는 리스트 컴프리헨션
zeros=[0 for _ in even_numbers] #불필요한 값은 언더바로 표시하는 리스트
zeros

[0, 0, 0, 0, 0]

for문을 사용해 0부터 9까지의 값을 먼저 할당하고, if 문을 사용해 이 값을 2로 나눈 나머지가 0인 값만 x에 할당해 0에서 9까지 짝수로만 이루어진 리스트를 생성 가능

In [121]:
# 0에서 9까지의 짝수를 원소로 가지는 리스트 컴프리헨션
even_numbers=[x for x in range(10) if x % 2==0]
even_numbers

[0, 2, 4, 6, 8]

In [122]:
# 구구단 리스트 컴프리헨션 1
pairs=[i*j for i in range(2, 10) for j in range(1, 10)]
print(pairs)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [123]:
# 2단 리스트 컴프리헨션
googoo=[]
for i in range(2, 10) :
  for j in range(1, 10) :
    googoo.append(i * j)
googoo=[i*j for i in range(2, 10) for j in range(1, 10)]
googoo[:9]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [124]:
# 구구단 리스트 컴프리헨션 2
for i in range(2, 10) :
  for j in range(1, 10) :
    print("{} * {}={}".format(i, j, googoo[(j-1)+((i-2)*9)]))

2 * 1=2
2 * 2=4
2 * 3=6
2 * 4=8
2 * 5=10
2 * 6=12
2 * 7=14
2 * 8=16
2 * 9=18
3 * 1=3
3 * 2=6
3 * 3=9
3 * 4=12
3 * 5=15
3 * 6=18
3 * 7=21
3 * 8=24
3 * 9=27
4 * 1=4
4 * 2=8
4 * 3=12
4 * 4=16
4 * 5=20
4 * 6=24
4 * 7=28
4 * 8=32
4 * 9=36
5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35
5 * 8=40
5 * 9=45
6 * 1=6
6 * 2=12
6 * 3=18
6 * 4=24
6 * 5=30
6 * 6=36
6 * 7=42
6 * 8=48
6 * 9=54
7 * 1=7
7 * 2=14
7 * 3=21
7 * 4=28
7 * 5=35
7 * 6=42
7 * 7=49
7 * 8=56
7 * 9=63
8 * 1=8
8 * 2=16
8 * 3=24
8 * 4=32
8 * 5=40
8 * 6=48
8 * 7=56
8 * 8=64
8 * 9=72
9 * 1=9
9 * 2=18
9 * 3=27
9 * 4=36
9 * 5=45
9 * 6=54
9 * 7=63
9 * 8=72
9 * 9=81

In [125]:
# 구구단 리스트 컴프리헨션 3
increasing_pairs=[(x, y)
  for x in range(10)
  for y in range(x+1, 10)]
increasing_pairs
googoo=[(x, y) for x in range(2, 10) for y in range(1, 10)]
googoo

[(2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [126]:
# 딕셔너리 컴프리헨션
square_dict={i: i * i for i in range(5)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [127]:
# 집합 컴프리헨션
square_set={i * i for i in [1, -1, 2]}
square_set

{1, 4}

In [128]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5,
'naver': 20}
my_stocks1={k: v * 100 for (k, v) in my_stocks.items()}
my_stocks1

{'ss': 1000, 'lg': 500, 'sk': 500, 'naver': 2000}

# Section 04. 함수
## 1. 함수의 개념과 유형

In [129]:
def add(a, b):
  return a+b
  
print(add(1, 2))

3

In [130]:
def add( ):
  print("덧셈 기능입니다")
add( )

덧셈 기능입니다

In [131]:
def add( ): 
  return 3, 5
add( ) # add(  ) 형태로 변수에 반환값 저장

(3, 5)

In [132]:
def add(a, b):
  a+b
add(2, 3) # 반환값이 없으므로 출력값 없음

In [133]:
def add(x, y): 
  return x + y
add(5, 10) # 함수 자체를 변수에 할당

15

## 2. 람다 함수
- 람다 함수는 익명 함수로, 함수와 같이 동작해야 하는 코드를 정의할 떄 사용한다. 함수를 간결하게 사용하고 싶을 때 정의하면 된다.
- (lambda 인자: 반환값 또는 수식)(인자)

In [134]:
(lambda x: x*2)(5)

10

In [135]:
def sum1(x, y):
  return x + y
sum1(5, 10)

15

In [136]:
(lambda x, y: x+y)(5, 10)

15

## 3. 데이터 분석에 유용한 외장 함수
- 크게 외장함수와 내장함수로 구별 되는데, 외장 함수를 사용하기 위해서는 이 함수들이 포함된 패키지를 먼저 임포트 해야 하고 내장함수는 그냥 사용가능
### defaultdict 함수 
- 데이터형의 기본값을 만들어주는 함수
- 예를 들어 딕셔너리의 키가 존재하지 않으면 KeyError가 출력되지만 defaultdict 함수를 이용하면 키의 존재여부를 몰라도 기본값을 설정할 수 있어 KeyError 발생 안함.
- 데이터가 적을 때는 기본값을 매번 지정할 수 있지만, 데이터가 많아지면 defaultdict 함수가 유용

In [137]:
# collections 패키지에 있는 defaultdict 함수를 임포트
from collections import defaultdict
word_counts=defaultdict(int)
word_counts

defaultdict(int, {})

In [138]:
from collections import defaultdict
fruits=["apple", "apple","apple","banana","banana", "cherry", "melon"]
word_counts=defaultdict(int)
for i in fruits:
  word_counts[i]+=1
word_counts

defaultdict(int, {'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1})

In [139]:
from collections import defaultdict
dd_list=defaultdict(list)
dd_list["key"].append('value')
dd_list

defaultdict(list, {'key': ['value']})

In [140]:
from collections import defaultdict
dd_dict1=defaultdict(dict)
dd_dict1["Korea"]["Capital"]="Seoul"
dd_dict1

defaultdict(dict, {'Korea': {'Capital': 'Seoul'}})

In [141]:
from collections import defaultdict
dd_dict2=defaultdict(dict)
dd_dict2["Japan"]="Osaka","Tokyo"
dd_dict2

defaultdict(dict, {'Japan': ('Osaka', 'Tokyo')})

### Counter 함수
- 리스트와 같은 열거형 데이터형의 데이터를 키로, 데이터의 개수를 값으로 반환한다.
- 첫 글자를 대문자로 입력필수

In [142]:
from collections import Counter
c=Counter([0, 1, 2, 0])
print(c)

Counter({0: 2, 1: 1, 2: 1})

C1 변수에 counter 함수를 이용해 나열된 리스트의 데이터를 세어본다. C1을 출력해보면 딕셔너리 형태로 데이터를 key로 개수를 value로 반환한다.

In [143]:
from collections import Counter
c1=Counter(["apple", "apple","apple","banana","banana", "cherry", "melon"])
print(c1)

Counter({'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1})

In [144]:
from collections import Counter
fruits=["apple", "apple","apple","banana","banana", "cherry", "melon"]
c2=Counter(fruits)
print(c2)

Counter({'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1})

In [145]:
from collections import Counter
fruits=["apple", "apple","apple","banana","banana", "cherry", "melon"]

word_counts=Counter(fruits)
word_counts

Counter({'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1})

most_common 함수는 빈도수가 높은 단어를 출력해준다. 함수의 인자로는 가장 빈도가 높은 것을 몇개나 표시할 것인지를 나타낸다.

In [146]:
for word, count in word_counts.most_common(2):
  print(word, count)

apple 3
banana 2

## 4. 데이터 분석에 유용한 내장 함수
### zip 함수
- 같은 개수를 가지는 리스트나 딕셔너리 등의 데이터를 쌍으로 묶어서 표시한다. zip은 같은 순서의 원소들끼리 묶어서 표시하고 출력값은 zip의 인자 순서대로 튜플 형태로 묶어서 내보낸다.

In [147]:
list(zip(['a', 'b', 'c', 1, 2, 3], ['A', 'B', 'C', 4, 5, 6]))

[('a', 'A'), ('b', 'B'), ('c', 'C'), (1, 4), (2, 5), (3, 6)]

In [148]:
letters=['a', 'b', 'c']
numbers=[1, 2, 3]
[pair for pair in zip(letters, numbers)]

[('a', 1), ('b', 2), ('c', 3)]

In [149]:
letters=['a', 'b', 'c']
numbers=[1, 2, 3]
[(i, j) for i, j in zip(letters, numbers)]

[('a', 1), ('b', 2), ('c', 3)]

In [150]:
letters=['a', 'b', 'c']
numbers=[1, 2, 3]
pairlist=[{i:j} for i, j in zip(letters, numbers)]
pairlist

[{'a': 1}, {'b': 2}, {'c': 3}]

In [151]:
numbers1=[1, 2, 3]
numbers2=[4, 5, 6]
sumlist=[i + j for i, j in zip(numbers1, numbers2)]
sumlist

[5, 7, 9]

In [152]:
numbers=[1, 2, 3]
sum([i+j for i, j in zip(numbers, numbers)])

12

In [153]:
numbers=[1, 2, 3]
sumlist=[i+j for i, j in zip(numbers, numbers)]
sum(sumlist) # sumlist = [2, 4, 6]

12

*을 이용해 언패킹하여 묶어진 값들을 풀어서 나타내는 것이다.

In [154]:
pairlist=[('a', 1), ('b', 2), ('c', 3)]
letters, numbers=zip(*pairlist)
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

In [155]:
letters, numbers=zip(('a', 1), ('b', 2), ('c', 3))
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

### enumerate 함수
- 순서가 있는 데이터형(리스트, 튜플, 문자형)을 입력받아 열거하여 순서가 있는 데이터형을 객체로 만들 때 사용한다. 특히 for 문과 함께 자주 사용되며 원소의 순서와 값을 출력할 수 있다.

In [156]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5}
my_stocks=enumerate(my_stocks)
my_stocks

In [157]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
data=enumerate(my_stocks)
for i, j in data:
  print(i, ":", j, my_stocks[j])

0 : ss 10
1 : lg 5
2 : sk 5
3 : naver 20

In [158]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
data=enumerate(my_stocks)
for key in my_stocks.keys( ):
  print(key, my_stocks[key])

ss 10
lg 5
sk 5
naver 20

In [159]:
scores=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
total=0
for i in range(len(scores)):
  # print(i+1, scores[i]) # 주석이므로 이 부분은 실행되지 않음
  total+=scores[i]
print(total)

550

In [160]:
scores=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
sum=0
for i, j in enumerate(scores):
  sum=sum+scores[i]
  print(i, j, sum)

0 10 10
1 20 30
2 30 60
3 40 100
4 50 150
5 60 210
6 70 280
7 80 360
8 90 450
9 100 550

다음 코드는 앞에서 sum 함수를 변수로 선언하였기에 2행의 sum(scores) 합계가 구해지는 것이 아니라 TypeError가 표시된다.

In [161]:
scores=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
sum(scores)

TypeError: 'int' object is not callable

In [162]:
del sum
scores=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
sum(scores)

550

### extend 함수

In [163]:
list=[1, 2, 3, 4, 5]
list.append([6, 7])
list.extend([6, 7])
print(list)

[1, 2, 3, 4, 5, [6, 7], 6, 7]

In [164]:
prices=[2000, 140000, 200000, 15000, 1, 2, 3, 4]
x=[1,2,3,4]
prices.extend(x)
prices

[2000, 140000, 200000, 15000, 1, 2, 3, 4, 1, 2, 3, 4]

### sorted 함수
- sorted 함수를 이용한 정렬

In [165]:
x=[4, 1, 2, 3]
y=sorted(x)
y

[1, 2, 3, 4]

In [166]:
x=sorted([-4, 1, -2, 3], key=abs, reverse=True)
x

[-4, 3, -2, 1]

In [167]:
fruits=["apple", "apple","apple","banana","banana", "cherry", "melon"]
word_counts={}
for word in fruits:
  if word in word_counts:
    word_counts[word]+=1
  else:
    word_counts[word]=1
word_counts

{'apple': 3, 'banana': 2, 'cherry': 1, 'melon': 1}

In [168]:
wc=sorted(word_counts.items( ),
  key=lambda word_and_count: word_and_count[1],
  reverse=True)
wc

[('apple', 3), ('banana', 2), ('cherry', 1), ('melon', 1)]